// // Fonts
// $base-font: 'Roboto Slab';
// $comp-font: 'Kaushan Script';
// $third-font: 'Montserrat';
// $fourth-font: 'Droid Serif';

// // Colors
// $base-color: #fed136;
// $comp-color: #2f2e2e;
// $third-color: #f7f7f7;


// Fonts
$fuente: 'PT Sans', sans-serif;


// Colors
$color-celeste: #00d7fe;
$color-amarillo: #fed501;
$color-naranja: #ff9456;
$color-rojo: #ff5f3d;
$alinear-izquierda: left;
$alinear-derecha: right;

